﻿<template>
    <div class="py-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="card-img-top img-fluid" :src="imagem" alt="Card image cap">
                </div>
                <div class="col-md-6">
                    <h3 class="ttl">{{nome}}</h3>
                    <h5 class="ttl">{{preco}}</h5>
                    <p>{{descricao}}</p>
                    <div class="btn-detalhe">
                        <button class="btn btn-success"><i class="fas fa-shopping-cart"></i> Comprar</button>
                        <button type="button" class="btn btn-link btn-sm">voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./detalhe.ts"></script>
