﻿<template>
    <div>
        <div class="album py-10 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4" v-for="item in produtos">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top img-fluid" style="height:258px" :src="item.imagemProduto" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{ item.nome }} - <small class="text-muted"><strong>{{ item.valor }}</strong></small></p>
                                <small class="text-muted">{{ item.descricao }}</small>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="btn-group">
                                        <router-link type="button" class="btn btn-sm btn-outline-secondary" :to="'produto/detalhe/' + item.id">
                                            ver detalhes
                                        </router-link>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" @click="AdicionarCarrinho(item.id)">adicionar no carrinho</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./produtos.ts"></script>