<template>
    <div>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark  box-shadow">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img alt="Brand" src="../../images/logo.jpg">
                </a>
                <ul class="nav mr-auto col-md-6">
                    <li class="nav-item">
                        <a class="nav-link" href="/sobre">sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/produtos">produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculadora">calculadora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/fale-conosco">fale conosco</a>
                    </li>
                </ul>
                <ul class="nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/meu-carrinho"><i class="fas fa-shopping-cart"></i>meu carrinho</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#loginModal">
                           login
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css" />
