body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --jumbotron-padding-y: 3rem;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.8;
}

.nav{
    text-transform: uppercase;
    font-size:0.8rem;
}

    .nav a {
        color: #d4d4d4;
    }

    .nav a:hover {
        color: #fff;
    }


.jumbotron {
    padding: 0 !important;
    border-radius: 0
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-link {
    color: #6c757d !important
}

.bg-dark {
    background-color: #000 !important;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,.5);
}

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.paralsec {
    background-image: url("/dist/8a27d7e513a9fd01e7f0cd80017ffd29.jpeg");
}

.pt-10, .py-10 {
    padding-top: 9rem !important;
}

.ttl {
    font-weight: 300 !important;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
}

.btn-detalhe{
    position: absolute;
    bottom: 0
}

a i{
    margin-right:10px;
}
