﻿<template>
    <div>
        <nav class="navbar">
            <h4>Produtos</h4>
            <router-link :to="'produto/cadastrar'" class="btn btn-primary pull-right"> Novo produto </router-link>
        </nav>

        <table v-if="produtos.length" class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in produtos">
                    <td width="10%">
                        <img class="img-fluid" v-if="item.imagemProduto" :src="item.imagemProduto"/>
                        <img class="img-fluid" v-else src="../../images/140x100.png"/>
                    </td>
                    <td  width="25%">{{ item.nome }}</td>
                    <td width="25%">{{ item.valor }}</td>
                    <td  width="60%">{{ item.descricao }}</td>
                    <td width="10%"><router-link :to="'produto/editar/' + item.id" class="btn btn-outline-primary">editar</router-link></td>
                    <td width="10%"><button class="btn btn-outline-danger" @click="Deletar(item.id)">excluir</button></td>
                </tr>
            </tbody>
        </table>

        <p class="text-center" v-else><em>Carregando...</em></p>


    </div>
</template>

<script src="./produto.ts"></script>