﻿<template>
    <div>
        <nav class="navbar">
            <h4>Cadastrar usuário</h4>
        </nav>

        <hr />
        <div class="row">
            <div class="col-lg-9">
                <form>
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" v-model="nome" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" v-model="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" v-model="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" v-model="password" class="form-control" id="password"/>
                    </div>
                </form>

                <button @click="SalvarUsuario" class="btn btn-primary">Salvar</button>
                <router-link :to="'/usuario'" class="btn  btn-outline-secondary"> cancelar </router-link>
            </div>
        </div>
    </div>
</template>

<script src="./cadastrar.ts"></script>