﻿<template>
    <div>
        <nav class="navbar">
            <h4>Usuários</h4>
            <router-link :to="'usuario/cadastrar'" class="btn btn-primary pull-right"> Novo usuario </router-link>
        </nav>

        <table v-if="usuarios.length" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th></th>
                    <!--<th></th>-->
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in usuarios">
                    <td width="5%">#{{ item.id }}</td>
                    <td width="25%">{{ item.nome }}</td>
                    <td width="25%">{{ item.email }}</td>
                    <td width="20%">{{ item.username }}</td>
                    <td width="10%"><router-link :to="'usuario/editar/' + item.id" class="btn btn-outline-primary">editar</router-link></td>
                    <!--<td width="10%"><button class="btn btn-outline-danger" @click="Deletar(item.id)">excluir</button></td>-->
                </tr>
            </tbody>
        </table>

        <p class="text-center" v-else><em>Carregando...</em></p>


    </div>
</template>

<script src="./usuario.ts"></script>