﻿<template>
    <div id='app-root'>
        <header>
            <menu-component />
        </header>
        <main role="main">
            <router-view></router-view>
        </main>
        <!-- Modal Login -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="digite seu email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">lembrar-me</label>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">Não possui cadastro? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#cadastroModal">Clique aqui</a></small>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Cadastro -->
        <div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cadastrar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="emailCadastro" aria-describedby="emailHelp" placeholder="digite seu email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="senhaCadastro" placeholder="senha">
                            </div>

                            <div class="form-group">
                                <input type="password" class="form-control" id="confirmarSenhaCadastro" placeholder="confirmar senha">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary">cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./app.ts"></script>
